venv/
__pycache__/
*.pyc
*.npy
checkpoints/
logs/
cache/
processed_dataset/
models/speech_pipeline/processed_data
.idea/
.vscode/
dataset/
metadata.csv
models/speech_pipeline/saved_models/best_model.pth
models/text_pipeline/saved_models/best_model.pth
models/fusion_pipeline/saved_models/best_model.pth
best_model.pth